# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.venv/
venv/
env/
*.tar

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
.env.*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.log

# Kubernetes secrets
K8s/secret.yaml